{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        <div class="card card-left-vidget">
                                <div class="card-body">
                                        <div class="h2">
                                                <!-- Имя автора -->
                                                {{ post.author.last_name }}
                                                {{ post.author.first_name }}
                                        </div>
                                        <div class="h3 text-muted">
                                                <!-- username автора -->
                                                @{{ username }}
                                        </div>
                                </div>
                                <div class="card-left-vidget">
                                        <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                        <div class="h6 text-muted">
                                                                Подписчиков: {{ count_author }} <br />
                                                                Подписан: {{ count_user }}
                                                        </div>
                                                </li>
                                                <li class="list-group-item">
                                                        <div class="h6 text-muted">
                                                                <!--Количество записей -->
                                                                Записей: {{ count }}
                                                        </div>
                                                </li>
                                                <li class="list-group-item">
                                                        {% if user.is_authenticated and request.user != author %}
                                                        {% if following %}
                                                        <a class="btn btn-lg btn-light"
                                                                href="{% url 'profile_unfollow' username %}"
                                                                role="button">
                                                                Отписаться
                                                        </a>
                                                        {% else %}
                                                        <a class="btn btn-lg btn-primary"
                                                                href="{% url 'profile_follow' username %}"
                                                                role="button">
                                                                Подписаться
                                                        </a>
                                                        {% endif %}
                                                        {% endif %}
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class='col-md-9 mb-9 mt-1'>
                        {% if messages %}
                        <ul>
                                {% for mess in messages %}
                                <li style="color: red; list-style-type: none;">{{ mess }}</li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                        {% include "posts/post_item.html" with post=post %}
                        {% include 'posts/comments.html' %}
                </div>
        </div>
</main>
{% endblock content %}